body{
    margin: 5%;
    padding: 0;
    height: 100vh;
    background: url('img/Background.jpg') no-repeat;
    background-size: cover;
}
.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10%;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h1{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    color: #F5DEB3;
}
.box h5{
  font-size: 25px;
  letter-spacing: 3px ;  
  font-weight: 50;
}
.box p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}